/**
 *  CSS Stylesheet for MyLaunchcode.com
 */
 
fieldset
{
    border-style: 1px solid;
    border-color: white;
    max-width: 49%;
    height: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}


IMG.imgcenter
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 h1
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(240,0,0,1.0);
    max-width: 50%;
    height: auto;
    border: 5px solid rgba(200,0,0,1.0);
 }
 
 h2
 {
    text-align: center;
    font: Helvetica;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 h3
 {
    text-align: center;
    font: Helvetica;
    font-size: 12pt;
    color: gray;
 }
 
 #top
 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }
 
 #middle
 {
    text-align: center;    
 }
 
 
 #bottom
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    text-align: center;
    font-size: 16pt;
    color: gray;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
 }
 
