/**
 *  CSS Stylesheet for MyLaunchcode.com
 */
 

fieldset.bar
{
    border-style: 1px solid;
    border-color: red;
    max-width: 49%;
    height: auto;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}

fieldset.bar_2
{
    border-style: 1px solid;
    border-color: white;
    width: 90%;
    height: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

fieldset.form
{
    border-style: 1px solid;
    border-color: white;
    max-width: 49%;
    height: auto;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

fieldset.column
{
    float: left;
    max-width: 100%;
    height: auto; 
    text-align: left; 
    width: 200px; 
    border-style: 0.1px solid;
    border-color: white;
}
 


IMG.imgcenter
 {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 h1
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgba(240,0,0,1.0);
    max-width: 50%;
    height: auto;
    border: 5px solid rgba(200,0,0,1.0);
 }
 
 h2
 {
    text-align: center;
    font: Helvetica;
    font-size: 1.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
 }
 
 h3
 {
    text-align: center;
    font: Helvetica;
    font-size: 0.8vw;
    color: gray;
    max-width: 100%;
    height: auto;
 }
 
 h4
 {
    text-align: center;
    font-family: 'Source Code Pro';
    font-size: 1.2vw;
    color: black;
    max-width: 100%;
    height: auto;
 }
 
 #top
 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
 }
 
 #middle
 {
    text-align: center;
    max-width: 100%;
    height: auto;    
 }
 
 #column
 {
    float: left;
    max-width: 100%;
    height: auto; 
    text-align: left;  
 }
 
 
 #bottom
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    text-align: center;
    font-size: 1.0vmax;
    color: gray;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
 }
 
